@media (max-width: 576px), (max-width: 768px){
/*****************START HEADER**************************/
.navbar-toggler-icon {border: 1px solid #F1F8FF}
.navbar-toggler-icon {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
.navbar-nav {
  display:flex;
  flex-direction: row;
  justify-content: center;

}
.navbar-expand-lg .navbar-nav .nav-link{font-size: 0.77rem; margin-left: 20px;}
form {
  width: 100%;
  margin-left: 0;
  margin-top: 20px;
 }

form [type=search] {width: 200px;}
.btn.btn.btn-primary {font-weight: 300;}
/**********END HEADER*********************/

}
@media (max-width: 769) ,(max-width: 992px) {
  /*****************START HEADER**************************/
.navbar-toggler-icon {border: 1px solid #F1F8FF}
.navbar-toggler-icon {background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");}
.navbar-nav {
  display:flex;
  flex-direction: row;
  justify-content: center;

}
.navbar-expand-lg .navbar-nav .nav-link{font-size: 0.77rem; margin-left: 20px;}
form {
  width: 100%;
  margin-left: 0;
  margin-top: 20px;
 }

form [type=search] {width: 200px;}
.btn.btn.btn-primary {font-weight: 300;}

 form [type=search] {
  width: 220px;
  background-color: transparent;
  border: 2px solid var(--primary);
  outline: 2px solid var(--primary);
}
}

/*
 Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

 X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

 XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }
*/
